<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/login.css" />
    <!--만약 message의 길이가 0보다 길면 message를 띄워라-->
</head>
<body>
        
        <div class = "container">
        <img src="https://ivdesign.co.kr/data/file/symbol_logo/data_symbol_logo_1206358391_tokkymk_1206341181_01.png" alt="" style="margin-left: 60px;">
        <div class="thisindex">
            <span style=" width: 300px; margin-left: 40px;" >로그인 부탁드립니다.</span>
            <div style="margin-left: 100px;">
                <input type="button" class="btn" onclick=" location.href='/login'" value="LOGIN" style="background-color: white; border: 0px;"/>
                <input type="button" class="btn" onclick=" location.href='/signup'" value="SIGNUP"style="background-color: white; border: 0px;"/>
            </div>
        </div>
              </div>
            </body>
</html>