<!DOCTYPE html>
  <html>
  <head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/layout.css">
  </head>


<body>
    <div class="miniroom"> 
        <span class="miniroom-text"><strong>미니룸</strong></span>
        <br>
      <img src="/public/images/miniroom.gif" width="420px" >
      <br><br>
      <span class="ilchon"><span style="font-size: 12px;">일촌평</span>
      <hr align="left" style="border: solid 0.8px grey; width: 430px;">
     <span class="ilchonp">일촌평입니다 (수강생<span style="color:blue"><strong> 최이루</strong></span>)</span>
      </div>

</body>

</html>