<html>
<head>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/login.css" />
    <!--만약 message의 길이가 0보다 길면 message를 띄워라-->
</head>
<body>
        
        <div class = "container">
        <img src="https://ivdesign.co.kr/data/file/symbol_logo/data_symbol_logo_1206358391_tokkymk_1206341181_01.png" alt="" style="margin-left: 60px;">
        <form action="/signup" method="POST" class="signupform">
            <p></p>
            <label for="email">E-MAIL　　　　　</label> 
            <input name="email" type="email" required />    <p></p>
            <label for="password">PASSWORD　　　</label>    
            <input name="password" type="password" required />    <p></p>
            <label for="name" >NAME　　　　</label>
            <input name="name" type="text" style="margin-left: 23px;" required />    <p></p>
            <label for="adminCode">ADMIN CODE　　</label>
            <input name="adminCode" type="text"/><p></p>
            <button class="btn" style="margin-left: 240px;">SIGNUP!</button>
        </form>
              </div>
            </body>
</html>


